html {
    font-family: arial, helvetica, sans-serif;
    background-color: #62fd3a; 
    background-color: #a8ff91; 
    background-color: #66e645; 
}

a {
    color: #357adb;
    text-decoration: none;
}

seqtags {
    color: white;
}

.blue_highlight {
    color: #357adb;
}

.red_highlight {
    color: #e74558;
}

#title {
    margin-top: 10px;
    margin-bottom: 10px;

    float: left;
}

#title_text {
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 5px #4fdd29;
    text-shadow: 2px 2px 5px black;
}

#version_box {
    color: white;
    font-size: small;
    text-shadow: 1px 1px 3px #4fdd29;
    text-shadow: 1px 1px 3px black;

    margin-left: 5px;
}

#chrome_logo_box {
    margin-bottom: 10px;

    float: right;
}

#chrome_logo {
    height: 50px;
}

#drop_zone {
    width: 70%;
    min-width: 400px;
    
    color: black;

    background-color: #9ac4fe;
    background-color: #d9e9fe;
    border: 2px dashed #357adb;
    border-radius: 15px;

    margin-left: 10%;
    padding-left: 10%;

    clear: both;
    display: none;
}

#drop_zone_message_box {
    color: #fe3a51;
    font-size: x-small;

    padding-left: 100px;
    padding-bottom: 10px;
}

#attributions {
    border-top: 1px solid #dfffd6;

    font-size: xx-small;

    clear: both;
}

#message_box {
    width: 90%;

    margin: 10px;
    margin-left: 50px;
    padding: 10px;
    border: 1px dashed black;

    clear: both;
    display: none;
}

#table_seqfiles {
    min-width: 500px;

    margin: 20px 5% 20px 50px;
    padding: 5px;

    background-color: #dfffd6;

    border-collapse: separate;
    border-spacing: 0px 0px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

#table_seqfiles>thead {
    background-color: #4fdd29;
}

#table_seqfiles>thead>tr>td {
    height: 40px;
    padding: 10px;
}

#table_seqfiles>thead>tr>td:first-child {
    border-top-left-radius: 20px;
}

#table_seqfiles>thead>tr>td:last-child {
    border-top-right-radius: 20px;
}

#table_seqfiles>tfoot>tr>td, >thead>tr>td {
    padding: 5px 15px 5px 15px;
    font-size: medium;
}

#table_seqfiles>tr>td {
    padding-left:  15px;
    padding-right: 15px;

    font-size: x-small;
    white-space: nowrap;
}

#table_seqfiles>tr:not(.group_border):hover {
    background-color: #ebe545;
}

#table_seqfiles>tfoot+tr>td, tr.group_border+tr>td {
    border-top: 3px solid #dfffd6;
}

#table_seqfiles>tr>td:first-child {
    padding-left: 10px;
}

#table_seqfiles>tr>td:last-child {
    padding-right: 10px;
}

tr.group_border>td {
    border-bottom: 1px dotted black;
    height: 3px;
}

td.direction {
    text-align: center;
}

tr.bad { background-color: #ffd6db; }
tr.bad:hover { background-color: #ff919e; }

tr.fwd>.direction { color: #357adb; }
tr.rev>.direction { color: #debd29; }
tr.bad>.direction { color: #de293f; }

/*
  tr.fwd { background-color: #d9e9fe; }
  tr.fwd:hover { background-color: #9ac4fe; }
  tr.rev { background-color:  #fffed6; }
  tr.rev:hover { background-color: #fffb3a; }
  tr.bad { background-color: #ffd6db; }
  tr.bad:hover { background-color: #ff919e; }
  */

/*
  font.fwd { color: #357adb; }
  font.rev { color: #debd29; }
  font.bad { color: #de293f; }

.fwd>td {
border-top: 2px solid #357adb;
border-bottom: 2px solid #357adb;
}

.rev>td {
border-top: 2px solid #dedb29;
border-bottom: 2px solid #dedb29;
}

.bad>td {
border-top: 2px solid #de293f;
border-bottom: 2px solid #de293f;
}
*/

.processing>td {
    border-top: 2px solid #a8ff91;
    border-bottom: 2px solid #a8ff91;
}

/* GROUPING */
#group_regexp {
    margin-left: 10px;
    background-color: #dfffd6;
}

grouptag {
    color: #357adb;
    font-weight: bold;
}

.nongroup>td {
    background-color: #ffd6db;
    background-color: #ff919e;
}

#statusBox {
    width: 300px;
    height: 40px;

    margin: 0px 10px 10px 10px;
    padding: 5px 5px 5px 20px;

    background-color: #d9e9fe;
    
    border: 2px solid #357adb;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;

    line-height: 40px;
}

#statusBar {

    width: 0%;
    height: 20px;
    background-color: red;

    text-align: center;
    white-space: nowrap;

    border: 1px solid black;

    float: left;
}

#controls {
    background-color: inherit;
    box-shadow: inherit;

    margin-top: 10px;
    margin-left: 50px;

    clear: both;
}

#control_text>td {
    width: 55px;
    text-align: center;
    font-size: x-small;

    padding-right: 10px;
}

#control_buttons>td {
    padding: 0px;
}

img.button {
    width: 40px;
    margin: 0px 10px 10px 0px;
    padding: 5px;

    background-color: #d9e9fe;
    
    border: 2px solid #357adb;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

img.button:hover {
    background-color: #fffd91;
}

img.button:active {
    box-shadow: 1px 1px 1px black;
    width: 38px;
}

img.pressed {
    width: 38px;
    margin: 0px 10px 10px 0px;
    padding: 5px;

    background-color: #fffd91;
    
    border: 2px solid #357adb;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}

.na {
    color: #de293f;
}

.primary-1 { background-color: #62fd3a }
.primary-2 { background-color: #66e645 }
.primary-3 { background-color: #4fdd29 }
.primary-4 { background-color: #a8ff91 }
.primary-5 { background-color: #dfffd6 }

.secondary-a-1 { background-color: #4a94fb }
.secondary-a-2 { background-color: #528fe4 }
.secondary-a-3 { background-color: #357adb }
.secondary-a-4 { background-color: #9ac4fe }
.secondary-a-5 { background-color: #d9e9fe }

.secondary-b-1 { background-color: #fffb3a }
.secondary-b-2 { background-color: #e8e545 }
.secondary-b-3 { background-color: #dedb29 }
.secondary-b-4 { background-color: #fffd91 }
.secondary-b-5 { background-color: #fffed6 }

.complement-1 { background-color: #fe3a51 }
.complement-2 { background-color: #e74558 }
.complement-3 { background-color: #de293f }
.complement-4 { background-color: #ff919e }
.complement-5 { background-color: #ffd6db }
