html {
    font-family: arial, helvetica, sans-serif;
    background-color: #62fd3a;
    background-color: #a8ff91;
}

a {
    color: #357adb;
    text-decoration: none;
}

seqtags {
    color: white;
}

.blue_highlight {
    color: #357adb;
}

#title {
    margin-top: 10px;
    margin-bottom: 10px;

    float: left;
}

#title_text {
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 5px #4fdd29;
}

#chrome_logo_box {
    margin-bottom: 10px;

    float: right;
}

#chrome_logo {
    height: 50px;
}

#drop_zone {
    width: 70%;
    min-width: 400px;
    
    color: black;

    background-color: #9ac4fe;
    background-color: #d9e9fe;
    border: 2px dashed #357adb;
    border-radius: 15px;

    margin-left: 10%;
    padding-left: 10%;

    clear: both;
}

#drop_zone_message_box {
    color: #fe3a51;
    font-size: x-small;

    padding-left: 100px;
    padding-bottom: 10px;
}

#attributions {
    border-top: 1px solid #dfffd6;

    font-size: xx-small;

    clear: both;
}

#comment_box {
    width: 90%;

    margin: 5%;
    border: 1px dashed black;

    clear: both;
}

table {
    margin: 20px 5% 20px 5%;
    padding: 5px;

    background-color: #dfffd6;

    border-collapse: separate;
    border-spacing: 0px 0px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

#table_seqfiles {
    min-width: 500px;

    float: left;
}

#table_grouping {
    min-width: 300px;
}

#table_seqfiles>thead {
    background-color: #4fdd29;
}

#table_grouping>thead {
    background-color: #357adb;
}

thead>tr {
    height: 40px;
}

thead>tr>td:first-child {
    border-top-left-radius: 20px;
}

thead>tr>td:last-child {
    border-top-right-radius: 20px;
}

tr.fwd { background-color: #d9e9fe; }
tr.fwd:hover { background-color: #9ac4fe; }
tr.rev { background-color:  #fffed6; }
tr.rev:hover { background-color: #fffb3a; }
tr.bad { background-color: #ffd6db; }
tr.bad:hover { background-color: #ff919e; }

td {
    padding: 5px 15px 5px 15px;
    font-size: x-small;
    white-space: nowrap;
}

tfoot>tr>td, thead>tr>td {
    font-size: medium;
}

font.fwd { color: #357adb; }
font.rev { color: #debd29; }
font.bad { color: #de293f; }

.fwd>td {
    border-top: 2px solid #357adb;
#    border-bottom: 2px solid #357adb;
}

.rev>td {
    border-top: 2px solid #dedb29;
#    border-bottom: 2px solid #dedb29;
}

.bad>td {
    border-top: 2px solid #de293f;
#    border-bottom: 2px solid #de293f;
}

.processing>td {
    border-top: 2px solid #a8ff91;
    border-bottom: 2px solid #a8ff91;
}

/* GROUPING */
#group_regexp {
    margin-left: 10px;
    background-color: #9ac4fe;
}

.primary-1 { background-color: #62fd3a }
.primary-2 { background-color: #66e645 }
.primary-3 { background-color: #4fdd29 }
.primary-4 { background-color: #a8ff91 }
.primary-5 { background-color: #dfffd6 }

.secondary-a-1 { background-color: #4a94fb }
.secondary-a-2 { background-color: #528fe4 }
.secondary-a-3 { background-color: #357adb }
.secondary-a-4 { background-color: #9ac4fe }
.secondary-a-5 { background-color: #d9e9fe }

.secondary-b-1 { background-color: #fffb3a }
.secondary-b-2 { background-color: #e8e545 }
.secondary-b-3 { background-color: #dedb29 }
.secondary-b-4 { background-color: #fffd91 }
.secondary-b-5 { background-color: #fffed6 }

.complement-1 { background-color: #fe3a51 }
.complement-2 { background-color: #e74558 }
.complement-3 { background-color: #de293f }
.complement-4 { background-color: #ff919e }
.complement-5 { background-color: #ffd6db }
